/* styles.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
    background-image: url(Images/white-marble-texture-pattern-skin-tile-wallpaper-luxurious-background-detailed-genuine-nature-91348085.jpg);
}
h1 {
    text-align: center;
}
form {
    max-width: 398px;
    margin: 20px auto;
    padding: 20px;
    background-color: #E3E1E1;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: medium solid #c8c8c8;
}
input[type="text"],
input[type="password"],
select {
    width: 95%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
}
button {
    width: 100%;
    padding: 10px;
    background-color: #ff8c00;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button:hover {
    background-color: #C26900;
}
body h3 {
	text-align: center;
}
