/* aboutus.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(Images/white-marble-texture-pattern-skin-tile-wallpaper-luxurious-background-detailed-genuine-nature-91348085.jpg);
}

#mainWrapper {
    width: 100%;
    margin: 0 auto;
    height: 123px;
}
#logo a img {
    max-width: 160px;
    display: inline-block;
    float: none;
    margin-left: 27px;
}

.navbar ul {
    list-style-type: none; /* Removes bullet points */
    padding: 0;
    margin-top: -91px;
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 0;
    display: flex;
    justify-content: flex-end;
}


.navbar li {
    display: inline-block; /* Makes the list items horizontal */
    margin-right: 34px;
    padding-top: 10px;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 10px;
    color: rgba(0, 0, 0, 1.00);
    font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
    font-weight: bolder;
    margin-left: 2px;
}

.navbar a {
    text-decoration: none; /* Removes underline */
    color: #000000;           /* Adjust the link color */
    font-weight: bold;
    padding: 10px 15px;
    font-size: medium;
    transition: background-color 0.3s ease;
	cursor: pointer;
}

.navbar a:hover {
    color: inherit;        /* Hover effect for links */
    background-color: rgba(155,148,148,1.00);
    border-radius: 5px;
}


.about-section {
	padding: 20px;
    width: 100%;
    box-sizing: border-box; 
    max-width: 1200px; 
    margin: 0 auto; 
    text-align: justify;
	justify-content: space-between;
}

body div h2 {
    font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
    font-style: italic;
    text-align: center;
    background-color: rgba(206,188,156,1.00);
    padding-top: 40px;
    padding-bottom: 40px;
    border-radius: 16px;
    width: 100%;
    color: rgba(1,1,1,1.00);
}
body div p {
    color: rgba(0,0,0,1.00);
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
    text-align: center;
    font-size: large;
}
footer div p {
    color: rgba(255,255,255,1.00);
}

.about-section div p {
    font-size: x-large;
}


footer {
    display: flex;
    justify-content: space-between;
    background-color: #654321;
    color: #fff;
    padding: 20px;
    margin-top: 40px;
    text-align: center;
}

footer div {
    width: 30%;
}

.footerlinks p a {
    color: #fff;
    text-decoration: none;
}

.footerlinks p a:hover {
    text-decoration: underline;
}
nav ul li {
}
footer div p {
    font-weight: normal;
    font-size: large;
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
    font-style: normal;
    text-align: center;
}





  
ul a img {
    margin-top: -7px;
}
